<ion-content color="light" class="ion-padding">
  <div class="auth-container">
    <ion-card class="auth-card">
      <ion-card-header>
        <ion-card-title>Welcome</ion-card-title>
      </ion-card-header>

      <ion-segment #segment [(ngModel)]="segment$">
        <ion-segment-button value="login" content-id="login">
          <ion-icon icon="log-in-outline"></ion-icon>
          <ion-label>Sign In</ion-label>
        </ion-segment-button>
        <ion-segment-button value="signup" content-id="signup">
          <ion-icon icon="person-add-outline"></ion-icon>
          <ion-label>Sign Up</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-card-content>
        <!-- Login Form -->
        <ion-segment-view>
          <ion-segment-content id="login">
            <form [formGroup]="loginForm">
              <ion-item>
                <ion-icon icon="mail-outline" slot="start"></ion-icon>
                <!-- <ion-label position="floating">Email</ion-label> -->
                <ion-input
                  label="Email"
                  type="email"
                  formControlName="email"
                  name="email"
                  required
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-icon icon="lock-closed-outline" slot="start"></ion-icon>
                <!-- <ion-label position="floating">Password</ion-label> -->
                <ion-input
                  label="Password"
                  type="password"
                  formControlName="password"
                  name="password"
                  required
                >
                  <ion-input-password-toggle
                    slot="end"
                  ></ion-input-password-toggle>
                </ion-input>
              </ion-item>

              <div class="has-text-centered">
                <ion-text color="danger">{{ authError$ | async }}</ion-text>
              </div>

              <div class="is-flex is-justify-content-end w-full">
                <ion-button
                  (click)="login()"
                  type="submit"
                  class="ion-margin-top"
                >
                  <ion-icon icon="log-in-outline" slot="start"></ion-icon>
                  Sign In
                </ion-button>
              </div>

              <div class="alt-action ion-text-center ion-margin-top">
                <ion-text>
                  Don't have an account?
                  <a (click)="segment$.set('signup')">Sign Up</a>
                </ion-text>
              </div>
            </form>
          </ion-segment-content>
          <ion-segment-content id="signup">
            <form [formGroup]="signupForm">
              <ion-item>
                <ion-icon icon="person-outline" slot="start"></ion-icon>
                <!-- <ion-label position="floating">Full Name</ion-label> -->
                <ion-input
                  label="Full Name"
                  type="text"
                  formControlName="name"
                  name="name"
                  required
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-icon icon="mail-outline" slot="start"></ion-icon>
                <!-- <ion-label position="floating">Email</ion-label> -->
                <ion-input
                  label="Email"
                  type="email"
                  formControlName="email"
                  name="email"
                  required
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-icon icon="lock-closed-outline" slot="start"></ion-icon>
                <!-- <ion-label position="floating">Password</ion-label> -->
                <ion-input
                  label="Password"
                  type="password"
                  formControlName="password"
                  name="password"
                  required
                >
                  <ion-input-password-toggle
                    slot="end"
                  ></ion-input-password-toggle>
                </ion-input>
              </ion-item>

              <div class="has-text-centered">
                <ion-text color="danger">{{ authError$ | async }}</ion-text>
              </div>

              <div class="is-flex is-justify-content-end w-full">
                <ion-button
                  (click)="signup()"
                  type="submit"
                  class="ion-margin-top"
                >
                  <ion-icon icon="person-add-outline" slot="start"></ion-icon>
                  Sign Up
                </ion-button>
              </div>

              <div class="alt-action ion-text-center ion-margin-top">
                <ion-text>
                  Already have an account?
                  <a (click)="segment$.set('login')">Sign In</a>
                </ion-text>
              </div>
            </form>
          </ion-segment-content>
        </ion-segment-view>
        <ion-note
          >Warning: This is a demo app with fake authentication. Any information
          you enter is not secure and could be visible. Do not use real
          passwords or personal data.</ion-note
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
